{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_muscle_groups_sidebar.html' %}
{% endblock %}

{% block content %}
{% for elem in muscles %}
<div class="card" style="width: 18rem;">
  {% if elem.photo %}
  <img src="{{ elem.photo.url }}" class="card-img-top" alt="...">
  {% else %}
  <p>No photo:(</p>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ elem.name }}</h5>
    <p class="card-text">{{ elem.about|truncatewords:10 }}</p>
    <a href="{{elem.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
{% endfor %}
{% endblock %}